# Node.js
node_modules/
npm-debug.log
yarn-error.log
*.env

# Dependencies
/.pnp
.pnp.js

# Build output
/build
/dist

# Editor files
.vscode/
.idea/
*.sublime-*
*.swp
*.swo

# Log files
logs/
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
